<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;FirstTests.before()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.classIsNullTest()[pri:0, instance:tests.FirstTests@7c16905e]">classIsNullTest</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.miCuartoTest()[pri:0, instance:tests.FirstTests@7c16905e]">miCuartoTest</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.miPrimerTest()[pri:0, instance:tests.FirstTests@7c16905e]">miPrimerTest</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.miSegundoTest()[pri:0, instance:tests.FirstTests@7c16905e]">miSegundoTest</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.miTercerTest()[pri:0, instance:tests.FirstTests@7c16905e]">miTercerTest</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FirstTests.setup()[pri:0, instance:tests.FirstTests@7c16905e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTests.test1()[pri:0, instance:tests.FirstTests@7c16905e]">test1</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FirstTests.tearDown(org.testng.ITestResult)[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>19/02/20 11:54:34</td>   <td>230</td> <td>&nbsp;</td><td title="&lt;&lt;FirstTests.after()[pri:0, instance:tests.FirstTests@7c16905e]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
</table>
